@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

/* Default Light Mode */
body {
  @apply bg-[#E6E6E6] text-black transition-colors duration-300;
}

/* Dark Mode */
.dark body {
  @apply bg-[#191919] text-white;
}


@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  flex-direction: column;
  animation: marquee 10s linear infinite;
}

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}